@import "./base.css";

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

html,
body {
    /* 先套用 Noto Sans TC 這個 思源黑體 */
    font-family: 'Noto Sans TC', 'Noto Sans JP', '微軟正黑體', sans-serif !important;
    padding: 0;
    margin: 0;
    color: #515151;

    //ios scroll
    -webkit-overflow-scrolling: touch;
}

a {
    text-decoration: none !important;
    color: #515151 !important;

    &:hover {
        color: #515151;
    }

    &.active {
        color: #515151;
    }
}

li {
    list-style: none;
    color: #696969 !important;
}


header{
    width: 100%;
    height: 60px;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 100;

    .logo{
        width: 60px;
        height: 25px;
        margin-top: 15px;
    }

    span{
        position: absolute;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        left: 0;
        width: 100%;        
        font-size: 20px;
        line-height: 60px;
    }
}

main{
    #banner{
        width: 100%;
        height: 141px;
        background-color: #000;
        color: #fff;
        text-align: center;
        margin-top: 60px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('assets/img/banner.png');
    }

    #bars{
        width: 100%;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('assets/img/leather_bg.png');
        overflow-x: hidden;
        padding: 0;
        
        .topBarTitle{
            width: 100%;
            height: 70px;
            color: #000;
            text-align: center;
            h4{
                line-height: 70px;
                font-size: 20px;
                border-bottom: 1px solid #ccc;
            }
        }

        .areaHeading{
            width: 100%;
            height: 60px;
            color: #000;
            text-align: center;
            h5{
                line-height: 60px;
                font-size: 20px;
            }
        }

        div.barCol{
            filter: drop-shadow(0px 2px 2px rgba(50, 50, 0, 0.2));
            padding-left: 5px;
            &:nth-child(odd){
                padding-right: 5px;
                .octagonBar{
                    margin-left: calc(100% - 135px);
                }
            }
            .octagonBar{
                height: 194px;
                width: 135px;
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: #fff;
                clip-path: polygon(6% 0%, 94% 0%, 100% 6%, 100% 94%, 94% 100%, 6% 100%, 0% 94%, 0% 6%);


                .title{
                    top: 0;
                    background-color: #9D086B;
                    height: 15%;
                    width: 100%;
                    font-size: 13px;
                    line-height: 27px;
                    text-align: center;
                    color: #fff;
                }
    
                .bar_img{
                    text-align: center;
                    margin: 8px 0 0 0;
                    img{
                        height: 90px;
                        clip-path: polygon(10% 0%, 90% 0%, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0% 85%, 0% 15%);
                    }
                }
    
                .bar_title{
                    margin-top: 5px;
                    margin-bottom: 0;
                    padding: 0 10px;
                    h5{
                        font-size: 15px;
                        margin: 0;
                    }
                }
    
                .bar_address{
                    margin: 5px 0;
                    padding: 0 10px;
                    p{
                        font-size: 12px;
                        line-height: 14px;
                        margin: 0;
                    }
                }
            }
        }

        #page_bottom{
            height: 147px;
            background-position: right center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('assets/img/purple_stripe.png');
            text-align: center;
            img{
                margin: 30px auto 0 auto;
                width: 212px;
            }
        }
    }


}