@import "./base.css";

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

html,
body {
    /* 先套用 Noto Sans TC 這個 思源黑體 */
    font-family: 'Noto Sans TC', 'Noto Sans JP', '微軟正黑體', sans-serif !important;
    padding: 0;
    margin: 0;
    color: #515151;
}

a {
    text-decoration: none !important;
    color: #515151 !important;

    &:hover {
        color: #515151;
    }

    &.active {
        color: #515151;
    }
}

li {
    list-style: none;
    color: #696969 !important;
}


header{
    width: 100%;
    height: 60px;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 100;

    .logo{
        width: 60px;
        height: 25px;
        margin-top: 15px;
    }

    span{
        position: absolute;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        left: 0;
        width: 100%;        
        font-size: 20px;
        line-height: 60px;
    }
}

main{
    #banner{
        width: 100%;
        height: 141px;
        background-color: #000;
        color: #fff;
        text-align: center;
        margin-top: 60px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('assets/img/banner.png');
    }

    #bars{
        width: 100%;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('assets/img/leather_bg.png');
        max-height: 976px;
        overflow: scroll;
        
        .topBarTitle{
            width: 100%;
            height: 70px;
            color: #000;
            text-align: center;
            h4{
                line-height: 70px;
                font-size: 20px;
                border-bottom: 1px solid #ccc;
            }
        }

        .areaHeading{
            width: 100%;
            height: 60px;
            color: #000;
            text-align: center;
            h5{
                line-height: 60px;
                font-size: 20px;
            }
        }

        div.barCol{
            filter: drop-shadow(0px 0px 5px rgba(50, 50, 0, 0.5));
            .octagonBar{
                height: 194px;
                width: 90%;
                margin: 10px auto;
                background-color: #fff;
                clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
    
                .title{
                    top: 0;
                    background-color: #9D086B;
                    height: 15%;
                    width: 100%;
                    text-align: center;
                    color: #fff;
                }
    
                .bar_img{
                    text-align: center;
                    margin: 8px 0 0 0;
                    img{
                        height: 90px;
                        clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
                    }
                }
    
                .bar_title{
                    margin-top: 5px;
                    margin-bottom: 0;
                    padding: 0 15px;
                    h5{
                        font-size: 17px;
                        font-size: 17px;
                        margin: 0;
                    }
                }
    
                .bar_address{
                    margin: 5px 0;
                    padding: 0 15px;
                    p{
                        font-size: 14px;
                        line-height: 16px;
                        margin: 0;
                    }
                }
            }
        }

    }
}